.facility-rental-intro .intro-condition-wrap .table-wrap table .col7 {width:37.4rem;}

/* Parents Home */
.bgimg-text-box.parents-bgimg .bgimg-text-list.list-1 .bg-text-box {background-image: url('../images/diagnosis-bg1-m.png');background-size:contain;}
.bgimg-text-box.parents-bgimg .bgimg-text-list.list-2 .bg-text-box {background-image: url('../images/diagnosis-bg2-m.png');background-size:contain;}
.bgimg-text-box.parents-bgimg .bgimg-text-list.list-3 .bg-text-box {background-image: url('../images/diagnosis-bg3-m.png');background-size:contain;}


/* Instructor Bank Intro Distribute */
.bgimg-text-box .bgimg-text-list.list-1 .bg-text-box {background-image:url('../images/register-1-m.png');background-size:contain;}
.bgimg-text-box .bgimg-text-list.list-2 .bg-text-box {background-image:url('../images/register-2-m.png');background-size:contain;}
.bgimg-text-box .bgimg-text-list.list-3 .bg-text-box {background-image:url('../images/register-3-m.png');background-size:contain;}
.bgimg-text-box .bgimg-text-list.list-4 .bg-text-box {background-image:url('../images/register-4-m.png');background-size:contain;}


/* Residents Online Intro */
.intro-img-box.course-box {position:relative;margin-top:4rem;}



