@charset "utf-8";

@page {
	size: A4; 
	margin:0;
}
@media print {
	/* Certificate */
	html,
	body {background:#fff;margin:0;padding:0;}
	.modal .modal-hd {display:none;}
	.modal .modal-content {width:100%;height:100%;display:block;border-radius:0;overflow:inherit;}
	.modal .modal-bd .scroll-area {margin:0;padding:0;width:100%;max-height:100%;overflow:visible;overflow-x:visible;overflow-y:visible;}
	.modal .modal-bd .scroll-area::-webkit-scrollbar {display:none;}
	.modal .modal-ft {display:none;}
	#print-certificate * {box-sizing:border-box;}
	#print-certificate {position:relative;width:100%;height:100%;margin:0 auto;width:21cm;height:29.7cm;}
	#print-certificate .certificate-area {margin:0;padding:0;position:relative;background-repeat:no-repeat;background-position:50%;background-size:100%;border:initial;border-radius:initial;width:100%;height:100%;min-height:initial;box-shadow:initial;page-break-after:always;}
	#print-certificate .certificate-area .certi-number {position:absolute;top:81px;left:89px;font-size:18px;color:#222;font-family:'Noto Serif KR', serif;font-weight:400;}
	#print-certificate .certificate-area .logo {padding:9px 20px 9px 23px;position:absolute;top:72px;right:73px;width:195px;height:53px;}
	#print-certificate .certificate-area .certificate-title {position:absolute;top:16.5%;left:51.9%;transform:translateX(-50%);color:#222;font-size:50px;font-weight:500;font-family:'Noto Serif KR', serif;letter-spacing:34px;}
	#print-certificate .certificate-area .info-box {position:absolute;top:34%;left:18.5%;width:65%;}
	#print-certificate .certificate-area .info-list {display:flex;margin-top:7px;}
	#print-certificate .certificate-area .info-list:first-of-type {margin-top:0;}
	#print-certificate .certificate-area .info-list .title,
	#print-certificate .certificate-area .info-list .desc {display:inline-block;font-size:18px;color:#222;font-family:'Noto Serif KR', serif;font-weight:400;line-height:1;}
	#print-certificate .certificate-area .info-list .title {flex:1 0 110px;max-width:110px;display:flex;justify-content:space-between;}
	#print-certificate .certificate-area .info-list .title .ensp {font-family:'Noto Serif KR', serif;font-weight:400;}
	#print-certificate .certificate-area .info-list .desc {flex:1;padding-left:11px;}
	#print-certificate .certificate-area .info-list .desc .double-colon {padding-right:9px;}
	#print-certificate .certificate-area .info-list .desc input {margin-top:-6px;width:318px;background:transparent;font-size:18px;font-family:'Noto Serif KR', serif;font-weight:400;border:0;}
	#print-certificate .certificate-area .info-list .desc input:focus {border:2px solid #4369e3;border-radius:3px;}
	#print-certificate .certificate-area .text-desc {position:absolute;top:50.1%;left:49%;transform:translateX(-50%);color:#222;font-size:22px;font-family:'Noto Serif KR', serif;font-weight:600;width:100%;text-align:center;line-height:36px;}
	#print-certificate .certificate-area .date {display:block;position:absolute;top:66.6%;left:49.5%;transform:translateX(-50%);font-size:18px;color:#222;font-family:'Noto Serif KR', serif;font-weight:400;}
	#print-certificate .certificate-area .city-box {display:flex;align-items:center;position:absolute;bottom:23.7%;left:52.5%;transform:translateX(-50%);}
	#print-certificate .certificate-area .cities {display:inline-block;font-size:26px;font-weight:bold;color:#222;font-family:'Noto Serif KR', serif;}
	#print-certificate .certificate-area .stemp {margin-left:-18px;width:63px;height:63px;}
	#print-certificate .certificate-area .qr-code {position:absolute;left:97px;bottom:102px;width:96px;height:96px;}
}
